h3 {
    font-size: 1.5em;
    font-weight: 400;
}

/*
	
	
	
	 ####  #####   ####  ###### ##   ###   ##   ##
	##  ## ##     ##  ##   ##   ##  ## ##  ###  ##
	###    ##    ##    #   ##   ## ##   ## ###  ##
	 ####  ##### ##        ##   ## ##   ## ## # ##
	   ### ##    ##        ##   ## ##   ## ## # ##
	#   ## ##    ##    #   ##   ## ##   ## ##  ###
	##  ## ##     ##  ##   ##   ##  ## ##  ##  ###
	 ####  #####   ####    ##   ##   ###   ##   ##
	
	
*/

.section_grid_menu {
    grid-template-rows: 900px;
}

.article_menu_4 {
    background-color: #F9F9F9;
}

.titre1 {
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script',cursive;
    font-size: 4em;
    font-weight: lighter;
    background: -webkit-linear-gradient(left,#3D9339, #BFFF7E);
    -webkit-background-clip: text;
}

.list_prix {
    font-weight: 400;
}

/*
	
	
	
	##     ##   ###
	###   ###  ## ##
	###   ### ##   ##
	#### #### ##   ##
	## # # ## ##   ##
	## ### ## ## # ##
	##  #  ##  ## ##
	##  #  ##   ####
	                #
	
*/

@media screen and (min-width:319px) and (max-width:767px) {
    .article_grid {
        margin: 2em 1em;
    }

    .section_grid_menu {
        grid-template-rows: 1fr;
    }

    .title_menu::before {
        left: 80px;
    }

    .title_menu:hover::before {
        left: 80px;
        width: 110px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .section_grid_menu {
        grid-template-rows: 800px;
    }

    .article_grid {
        margin: 1em 2em;
    }

    .title_menu::before {
        left: 175px;
    }

    .title_menu:hover::before {
        left: 175px;
        width: 280px;
    }
}

@media screen and (min-width:1024px) and (max-width:1400px) {
    .section_grid_menu {
        grid-template-rows: 950px;
    }

    .article_grid {
        margin: 3em 2em;
    }

    .title_menu::before {
        left: 7em;
    }

    .title_menu:hover::before {
        left: 7em;
        width: 12em;
    }
}

@media screen and (min-width:1600px) {
    .section_grid_menu {
        grid-template-rows: 2100px;
    }

    .article_grid {
        margin: 5em 2em;
    }

    .title_menu {
        font-size: 3em;
    }

    .list_menu {
        padding: 0 6em;
    }

    .title_menu::before {
        left: 7em;
    }

    .title_menu:hover::before {
        left: 7em;
        width: 13.7em;
    }
}