@media screen and (min-width:319px) and (max-width:767px) {
    .header,
    footer {
        width: auto;
        margin-right: 0;
        margin-left: 0;
    }

    .header {
        margin-bottom: 4em;
    }

    .title_footer a {
        font-size: 1.5em;
    }

    .section_grid_index,
    .section_grid_menu {
        display: grid;
        margin: 0;
        grid-template-columns: 319px;
        grid-gap: 5em 0;
    }

    .section_grid_index {
        grid-template-rows: 450px 450px 450px 450px;
    }

     .section_grid_menu  {
        margin-bottom: 5em;
     }

    .menu {
        width: 300px;
        height: 450px;
    }

    .first_title_h2,
    .third_title_h2 {
        font-size: 4em;
    }

    .second_title_h2,
    .fourth_title_h2 {
        font-size: 3.5em;
    }

    .article_index {
        grid-column: 1;
    }

    .article_first {
        grid-row: 1;
    }

    .article_second {
        grid-row: 2;
    }

    .article_third {
        grid-row: 3;
    }

    .article_fourth {
        grid-row: 4;
    }

    .main_title {
        font-size: 1.2em;
    }

    .img_menu {
        width: 3.5em;
    }

    .iconehaut,
    .iconebas {
        width: 2em;
    }

    .titre1,
    .titre2 {
        font-size: 1.2em;
    }

    .title_menu {
        font-size: 0.8em;
    }

    .list_menu {
        padding: 0 0.2em;
    }

    .list_nom,
    .list_prix {
        font-size: 7px;
    }

    aside {
        width: 300px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .header,
    footer {
        width: auto;
        margin-right: 0;
        margin-left: 0;
    }

    .section_grid_index,
    .section_grid_menu {
        display: grid;
        grid-gap: 5em 5em;
    }

    .section_grid_index {
        grid-template-columns: 300px 300px;
        grid-template-rows: 450px 450px;
    }

    .section_grid_menu {
        grid-template-columns: 700px;
    }

    .first_title_h2,
    .third_title_h2 {
        font-size: 4em;
    }

    .second_title_h2,
    .fourth_title_h2 {
        font-size: 3.8em;
    }

    .menu {
        width: 300px;
        height: 450px;
    }

    .article_first {
        grid-column: 1;
        grid-row: 1;
    }

    .article_second {
        grid-column: 2;
        grid-row: 1;
    }

    .article_third {
        grid-column: 1;
        grid-row: 2;
    }

    .article_fourth {
        grid-column: 2;
        grid-row: 2;
    }

    .main_title {
        font-size: 2em;
    }

    .titre1 {
        font-size: 3em;
    }

    .img_menu {
        width: 10em;
    }

    .iconehaut,
    .iconebas {
        width: 4em;
    }

    .title_menu {
        font-size: 1.5em;
    }

    .list_nom,
    .list_prix {
        font-size: 0.9em;
    }

    aside {
        width: 650px;
    }
}

@media screen and (min-width:1024px) and (max-width:1400px) {
    .header,
    footer {
        margin-right: auto;
        margin-left: auto;
    }

    .section_grid_index,
    .section_grid_menu {
        display: grid;
        grid-gap: 5em 5em;
    }

    .section_grid_index {
        grid-template-columns: 450px 450px;
        grid-template-rows: 600px 600px;
    }

    .section_grid_menu {
        grid-template-columns: 900px;
    }

    .menu {
        width: 450px;
        height: 600px;
    }

    .article_first {
        grid-column: 1;
        grid-row: 1;
    }

    .article_second {
        grid-column: 2;
        grid-row: 1;
    }

    .article_third {
        grid-column: 1;
        grid-row: 2;
    }

    .article_fourth {
        grid-column: 2;
        grid-row: 2;
    }

    .main_title {
        font-size: 2em;
    }

    .titre1 {
        font-size: 3em;
    }

    .img_menu {
        width: 12em;
    }

    .iconehaut,
    .iconebas {
        width: 4em;
    }

    .title_menu {
        font-size: 2em;
    }

    .list_nom,
    .list_prix {
        font-size: 1.2em;
    }

    aside {
        width: 650px;
    }
}

@media screen and (min-width:1600px) {
    .header,
    footer {
        width: 1500px;
        margin-right: auto;
        margin-left: auto;
    }

    .section_grid_index,
    .section_grid_menu {
        display: grid;
        grid-gap: 5em 5em;
    }

    .section_grid_index {
        grid-template-columns: 600px 600px;
        grid-template-rows: 600px 600px;
    }

    .section_grid_menu {
        grid-template-columns: 1400px;
    }

    .menu {
        width: 600px;
        height: 600px;
    }

    .article_first {
        grid-column: 1;
        grid-row: 1;
    }

    .article_second {
        grid-column: 2;
        grid-row: 1;
    }

    .article_third {
        grid-column: 1;
        grid-row: 2;
    }

    .article_fourth {
        grid-column: 2;
        grid-row: 2;
    }

    .main_title {
        font-size: 3em;
    }

    .titre1,
    .titre2 {
        font-size: 5em;
    }

    .img_menu {
        width: 20em;
    }

    .iconehaut,
    .iconebas {
        width: 8em;
    }

    .list_nom,
    .list_prix {
        font-size: 2.3em;
    }

    aside {
        width: 650px;
    }
}