

body {
	font-size: 0.5em;
	margin: 0 20%;
}

/*HEADER*/

.header {
display                : flex;
flex-direction         : row;
align-items            : center;
justify-content        : center;
height                 : 10em;
border-bottom          : solid 0.1em #9acc84;
background-color       : #579C87;
}

header img {
width                  : 8em;
}

.header_title {
margin                 : 0;
font-size              : 5em;
letter-spacing         : -5px;
color                  : #FCCA47;
}

/*MAIN*/

main {
		font-size: 2em;
}

.main_title {
	text-align: center;
}

/*SECTION*/

.section_grid {
display                : grid;
margin: 0 10em;
grid-template-columns  : 1fr 1fr ;
grid-template-rows     : 700px 700px;

}

article {
box-shadow             : 0 0 1em #e2e2e2,0 0 1em #e2e2e2;
background-color       : #FCDFDB;
}

/*PAGE 2*/

ul li {list-style: none;}

.fa-music {
-webkit-text-fill-color: transparent;
background             : -webkit-linear-gradient(left,#EF475F, #F6916A);
-webkit-background-clip: text;
}

.titre1, 
.titre2 {
margin-top             : 0.5em;
font-family            : 'Niconne',cursive;
font-weight            : lighter;
color                  : #3E141A;
}

.article_page {
	grid-column: 1/4;
}
.article_grid {
	display: grid;
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: repeat(10, auto);

grid-column            : 2/4;
grid-row               : 1;
margin: 45px 60px;
}

.iconehaut {
	grid-column: 3;
	grid-row: 1;
	font-size: 2em;
}

.titre1 {
	grid-column: 1/6;
	grid-row: 2;
	text-align: center;
	margin: 0;
}

.entrée {
	grid-column: 1/6;
	grid-row: 3;
	text-align: center;
}

.entrée_list {
	grid-column: 1/6;
	grid-row: 4;
	display: flex;
flex-direction: row;
justify-content: space-between;
}

.plats {
	grid-column: 1/6;
	grid-row: 5;
	text-align: center;
}

.plats_list {
	grid-column: 1/6;
	grid-row: 6;
	display: flex;
flex-direction: row;
justify-content: space-between;

}

.dessert {
	grid-column: 1/6;
	grid-row: 7;
	text-align: center;
}

.dessert_list {
	grid-column: 1/6;
	grid-row: 8;
	display: flex;
flex-direction: row;

}

.list_prix {
	text-align: right;
}

.iconebas {
	grid-column: 2/3;
	grid-row: 9;
	font-size : 1.5em;
	text-align: right;
}

.titre2 {
	grid-column: 3/6;
	grid-row: 9;
	font-size: 1.5em;
}

@keyframes zoom {
0% {
transform              : scale(1);
opacity                : 0;
}

100% {
transform              : scale(1.15);
opacity                : 1;

}
}

.animation:hover { 
animation              : zoom 2000ms forwards;

}