body {
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    font-size: 0.5em;
    background-color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*


##  ## #####   ###   ####   ##### #####
##  ## ##      ###   ## ##  ##    ##  ##
##  ## ##     ## ##  ##  ## ##    ##  ##
###### #####  ## ##  ##  ## ##### ##  ##
##  ## ##     ## ##  ##  ## ##    #####
##  ## ##    ####### ##  ## ##    ##  ##
##  ## ##    ##   ## ## ##  ##    ##  ##
##  ## ##### ##   ## ####   ##### ##  ##


*/

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10em;
    margin: 0 15% 7em 15%;
    border-bottom: solid 0.1em #9acc84;
    background-color: #579C87;
}

header img {
    width: 25em;
}

/*


    ##     ##   ###   ## ##   ##
    ###   ###   ###   ## ###  ##
    ###   ###  ## ##  ## ###  ##
    #### ####  ## ##  ## ## # ##
    ## # # ##  ## ##  ## ## # ##
    ## ### ## ####### ## ##  ###
    ##  #  ## ##   ## ## ##  ###
    ##  #  ## ##   ## ## ##   ##


*/

main {
    font-size: 2em;
}

.main_title {
    text-align: center;
}

/*


     ####  #####   ####  ###### ##   ###   ##   ##
    ##  ## ##     ##  ##   ##   ##  ## ##  ###  ##
    ###    ##    ##    #   ##   ## ##   ## ###  ##
     ####  ##### ##        ##   ## ##   ## ## # ##
       ### ##    ##        ##   ## ##   ## ## # ##
    #   ## ##    ##    #   ##   ## ##   ## ##  ###
    ##  ## ##     ##  ##   ##   ##  ## ##  ##  ###
     ####  #####   ####    ##   ##   ###   ##   ##


*/

.section_grid_index {
    display: grid;
    justify-content: center;
    margin: 0 8em;
    grid-template-columns: 450px 450px;
    grid-template-rows: 600px 600px;
    grid-gap: 5em;
}

.article_shadow {
    box-shadow: 0 0 1em #e2e2e2,0 0 1em #e2e2e2;
}

.article_index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@keyframes zoom_opacity {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    50% {
        opacity: 0.8;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

@-webkit-keyframes zoom_opacity {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    50% {
        opacity: 0.8;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

.animation_index:hover {
    animation: zoom_opacity 1s linear forwards;
}

.animation_index:hover {
    -webkit-animation: zoom_opacity 1s linear forwards;
}

.section_grid_menu {
    display: grid;
    justify-content: center;
    margin: 3em 0;
    grid-template-columns: 700px;
}

/*


      ###   #####  ###### ##   ####  ##    #####
      ###   ##  ##   ##   ##  ##  ## ##    ##
     ## ##  ##  ##   ##   ## ##    # ##    ##
     ## ##  ##  ##   ##   ## ##      ##    #####
     ## ##  #####    ##   ## ##      ##    ##
    ####### ##  ##   ##   ## ##    # ##    ##
    ##   ## ##  ##   ##   ##  ##  ## ##    ##
    ##   ## ##  ##   ##   ##   ####  ##### #####


*/

.article_first {
    background-color: #FCDFDB;
    grid-column: 1;
    grid-row: 1;
}

.article_second {
    background-color: #FFF5FE;
    grid-column: 2;
    grid-row: 1;
}

.article_third {
    background-color: #F9F9F9;
    grid-column: 1;
    grid-row: 2;
}

.article_fourth {
    background-color: #FDFFFD;
    grid-column: 2;
    grid-row: 2;
}

.article_menu {
    font-family: 'Kalam',cursive;
    grid-column: 1;
}

.article_grid {
    display: grid;
    margin: 45px 30px;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(10,auto);
}

/*


    ###### ## ###### ##    #####     ###   #####  ###### ##   ####  ##    #####
      ##   ##   ##   ##    ##        ###   ##  ##   ##   ##  ##  ## ##    ##
      ##   ##   ##   ##    ##       ## ##  ##  ##   ##   ## ##    # ##    ##
      ##   ##   ##   ##    #####    ## ##  ##  ##   ##   ## ##      ##    #####
      ##   ##   ##   ##    ##       ## ##  #####    ##   ## ##      ##    ##
      ##   ##   ##   ##    ##      ####### ##  ##   ##   ## ##    # ##    ##
      ##   ##   ##   ##    ##      ##   ## ##  ##   ##   ##  ##  ## ##    ##
      ##   ##   ##   ##### #####   ##   ## ##  ##   ##   ##   ####  ##### #####


*/

.title {
    font-size: 5em;
}

.icon {
    width: 11em;
}
.first_title_h1 {
    margin-top: 0;
    font-family: 'Niconne',cursive;
    color: #3E141A;
}

.first_title_h2 {
    text-transform: uppercase;
    font-family: 'Tillana',cursive;
    color: #3E141A;
}

.second_title_h1 {
    -webkit-text-fill-color: transparent;
    font-family: 'Croissant One',cursive;
    font-weight: lighter;
    font-size: 3.5em;
    background: -webkit-linear-gradient(300deg,#D8852E, #915DFC);
    -webkit-background-clip: text;
}

.second_title_h2 {
    font-family: 'Merriweather',serif;
    color: #D8852E;
}

.third_title_h1 {
    -webkit-text-fill-color: transparent;
    font-family: 'Niconne',cursive;
    font-weight: lighter;
    background: -webkit-linear-gradient(left ,#0936E0, #1D91FA);
    -webkit-background-clip: text;
}

.third_title_h2 {
    font-family: 'Bad Script',cursive;
    color: #399DFA;
}

.fourth_title_h1 {
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script',cursive;
    font-size: 5em;
    background: -webkit-linear-gradient(left,#3D9339, #BFFF7E);
    -webkit-background-clip: text;
}

.fourth_title_h2 {
    font-family: 'Bad Script',cursive;
    color: #72BF56;
}

/*


##     ## ##### ##   ## ##  ##
###   ### ##    ###  ## ##  ##
###   ### ##    ###  ## ##  ##
#### #### ##### ## # ## ##  ##
## # # ## ##    ## # ## ##  ##
## ### ## ##    ##  ### ##  ##
##  #  ## ##    ##  ### ##  ##
##  #  ## ##### ##   ##  ####


*/

.titre_article {
    text-align: center;
    grid-column: 1/6;
    grid-row: 2;
}

.img_menu {
    align-self: center;
    width: 10em;
}

.img_left {
    justify-self: left;
    grid-column: 1/3;
}

.img_right {
    grid-column: 4/6;
    justify-self: right;
}

.img_entree,
.title_entree {
    grid-row: 3;
}

.img_plats,
.title_plats {
    grid-row: 5;
}

.img_dessert,
.title_dessert {
    grid-row: 7;
}

.title_menu {
    text-align: center;
    grid-column: 1/6;
}

.list_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3em;
    grid-column: 1/6;
}

.entree_list {
    grid-row: 4;
}

.plats_list {
    grid-row: 6;
}

.dessert_list {
    grid-row: 8;
}

.list_nom {
    padding-left: 0;
    font-size: 15px;
    font-weight: lighter;
}

.list_prix {
    padding-left: 0;
    text-align: right;
    font-size: 15px;
}

.title_menu {
    position: relative;
}

.title_menu::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 180px;
    width: 0;
    height: 0.1em;
    background-color: rgba(255,255,255,0.1);
    transition: 1s ease-in-out;
}

.title_menu:hover::before {
    left: 180px;
    width: 280px;
    background-color: #000;
}

/*


      ###    ####  ## ####   #####
      ###   ##  ## ## ## ##  ##
     ## ##  ###    ## ##  ## ##
     ## ##   ####  ## ##  ## #####
     ## ##     ### ## ##  ## ##
    ####### #   ## ## ##  ## ##
    ##   ## ##  ## ## ## ##  ##
    ##   ##  ####  ## ####   #####


*/

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50em;
    height: 5em;
    margin: 7em auto;
    border: solid 1px #579C87;
    border-radius: 15px;
    text-align: center;
    color: #FCCA47;
    background-color: #579C87;
}

.aside_h3 {
    margin: 0;
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: 0.1em;
}

.aside_h3::after {
    content: "\2026";
    position: absolute;
    padding-left: 10px;
    overflow: hidden;
    animation: ellipsis steps(4,end) 1.3s infinite;
}

@keyframes ellipsis {
    0% {
        width: 0;
    }

    100% {
        width: 0.9em;
    }
}

/*


#####   ###     ###   ###### ##### #####
##     ## ##   ## ##    ##   ##    ##  ##
##    ##   ## ##   ##   ##   ##    ##  ##
####  ##   ## ##   ##   ##   ##### ##  ##
##    ##   ## ##   ##   ##   ##    #####
##    ##   ## ##   ##   ##   ##    ##  ##
##     ## ##   ## ##    ##   ##    ##  ##
##      ###     ###     ##   ##### ##  ##


*/

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 15%;
    padding: 0 1em;
    border-top: solid 0.1em #9acc84;
    background-color: #579C87;
}

.footer_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.footer_list a {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: #FCCA47;
    text-decoration: none;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    10% {
        transform: translate(-2px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(2px, 2px) rotate(0deg);
    }

    30% {
        transform: translate(-2px, 2px) rotate(1deg);
    }

    40% {
        transform: translate(2px, -2px) rotate(0deg);
    }

    50% {
        transform: translate(0px, 0px) rotate(-1deg);
    }

    60% {
        transform: translate(-2px, -2px) rotate(0deg);
    }

    70% {
        transform: translate(2px, 2px) rotate(1deg);
    }

    80% {
        transform: translate(-2px, 2px) rotate(0deg);
    }

    90% {
        transform: translate(2px, -2px) rotate(-1deg);
    }

    100% {
        transform: translate(0px,0px) rotate(0deg);
    }
}

.footer_list a:hover {
    animation: shake 0.5s infinite;
}